<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>1</ion-label>
    <ion-toggle [(ngModel)]="var1" (ionChange)="change($event)"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>2</ion-label>
    <ion-toggle [(ngModel)]="var2" (ionChange)="change($event)"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>3</ion-label>
    <ion-toggle [(ngModel)]="var3" (ionChange)="change($event)"></ion-toggle>
  </ion-item>

  <ion-item>
    <ion-label>4</ion-label>
    <ion-toggle [(ngModel)]="var4" (ionChange)="change($event)"></ion-toggle>
  </ion-item>
</ion-content>
